@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #666;
    font-weight: normal;
    line-height: 1.6;
}

a{
    transition: color .2s linear;
    text-decoration: none;
    border-bottom: 1px dotted;
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;

    padding: 124px 54px 72px 54px;
    box-sizing: border-box;
    background-image: url(../images/overlay.png), url(../images/bg.jpg);
    background-position: left top;
    background-size: auto, cover;
    text-align: right;
}

.main-header-title{
    font-size: 26px;
    line-height: 1.5;
    color: whitesmoke;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}

.main-header-title strong{
    color: antiquewhite;
    font-weight: normal;
}

.main-header-link{
    text-decoration: none;
    color: inherit;
}

.main-header-link:hover{
    color: #49bf9d;
}

.main-content{
    width: 70%;
    margin-left: 30%;
    padding: 124px 54px 72px 54px;
    box-sizing: border-box;
}